@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

header{
    height: 72px;
    min-width: 320px;
    background: rgba(255, 255, 255, 0.356);
    position: relative;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 50px;
    
}

header .logo{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    padding: 5px 10px;
}
.nav a:hover{
    outline: 2px solid #fff;
    border-radius: 20px;
}
.nav #cart{
    font-size: 35px;
}
.nav #cart:hover{
    border: none;
}
.cart{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.cart a{
    color: #fff;
    font-size: 27px;
    margin-top: 8px;
}
.search{
    position: relative;
    display: flex;
    margin-top: 8px;
}
.search a{
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
}
.search input{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.568);
    background: rgba(255, 255, 255, 0.397);
    border-radius: 20px;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-left: 20px;
}

.search input:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.731);
    transition: 0.3s;
}
.menuToggle{
    display: none;
}
::-webkit-input-placeholder{
    color: black;
}
.background{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -72px;
    background: rgb(71, 71, 71);
    overflow: hidden;
}

.blob1{
    position: absolute;
    width: 900px;
    height: 900px;
    left: -15%;
    filter: drop-shadow( 3px 3px 50px rgb(255, 110, 25));
}
.blob2{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 50vw;
    top: -30vh;
    filter: drop-shadow( 3px 3px 50px rgb(255, 144, 80));
}
.blob3{
    position: absolute;
    width: 900px;
    height: 900px;
    left: 20vw;
    top: 150vh;
    filter: drop-shadow( 3px 3px 50px rgba(214, 78, 255, 0.671));
}

.main{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    min-width: 320px;
    /* margin-top: -55px; */
    /* padding: 0 100px; */
    /* justify-content: center; */
    align-items: center;
    /* filter: opacity(20%); */
}

/* слайдер -> */
.slider-bl{
    margin: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 23%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 11;
    width: 970px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

input[type=radio] {
    display: none;
  
  }
  
.card {
    position: absolute;
    /* width: 60%; */
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    width: 635px;
    padding-right: 10px;
}
  
.container {
 
    margin: auto;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
    margin-top: 1%;
}
  
.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
  
.card img {
     
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
  
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
      transform: translatex(-100%) scale(1);
    opacity: .4;
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
      transform: translatex(100%) scale(1);
    opacity: .4;
    z-index: -1;
}
  
#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 0;
}
  
  
  
  
  
@keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 7))}
}
  
  
.slider {
      background: white;
  
      height: 100px;
      margin: auto;
      overflow:hidden;
      position: relative;
      width: 960px;
}
.slider::before ~ .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
  
      
/* .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
      
.slide {
    height: 100px;
    width: 250px;
} */
/* слайдер <-*/

.content{
    width: 1000px;
    height: 1000px;
    /* margin-top: 70px; */
    background: none;
    position: relative;
    display: grid;
    float: left;
    /* margin-top: 10px; */
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 14% 14% 14% 14% 14% 15% 15%;
}

.blocks{
    margin: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 23%);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 11;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
    /* align-items: center; */
}

.blocks:hover{
    background: rgba(255, 255, 255, 0.6);
}
.block1{
   grid-column: 1 / 4;
   grid-row:1/5;
  
   /* background: red; */
}
.block2{
   grid-column: 1 / 4;
   grid-row:5/8;
   /* background: rgb(187, 255, 0); */
}
.block3{
   grid-column: 4 / 6;
   grid-row:1/3;
   /* background: rgb(0, 255, 234); */
}
.block4{
   grid-column: 4 / 6;
   grid-row:3/6;
   /* background: rgb(119, 0, 255); */
}
.block5{
   grid-column: 4 / 6;
   grid-row:6/8;
   /* background: rgb(119, 0, 255); */
}

.text{
    color: rgb(0, 0, 0);
    width: 170px;
    position: absolute;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 12px;
    padding: 10px;
}
.block1 .text{
    right: 50px;
    top: 50px;
    width: 200px;
}
.block2 .text{
    left: 50px;
    top: 50px;
    width: 200px;
}
.block3 .text{
    left: 25px;
    bottom: 25px;
}
.block4 .text{
    left: 25px;
    top: 25px;
}
.block5 .text{
    left: 25px;
    bottom: 25px;
}

.blocks.block3 img{
    width: 300px; margin-left: 70px;
}

.blocks .block2 img{
    margin-left: 110px;
}

#price{
    font-weight: 700;
    margin-top: 4px;
}


/* .block2 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    background: linear-gradient(90deg, rgba(163,27,255,1) 0%, rgba(252,176,69,1) 100%);
    border-radius: 50px;
    filter: drop-shadow( 3px 3px 10px rgba(214, 78, 255, 0.9));
} */

.mob-header{
    display: none;
}

/* shop */
.shop{
    position: relative;
}
.animation{
    position: relative;
    /* background: #fff; */
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 100px;
}
.animation #wave{
    stroke-dasharray: 1141;
    animation: animate-path 6s linear;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}

.animation #vc{
    width: 150px;
    position: absolute;
    right: 5vw;
    animation: animate 6s linear;
    animation-fill-mode:forwards;
    animation-play-state: paused;
}
.animation[data-scroll="in"] #wave{
    animation-play-state: running;
}
.animation[data-scroll="in"] #vc{
    animation-play-state: running;
}

/* .animation #vc[data-scroll="in"]{
    animation: animate 5s linear;
    animation-fill-mode:forwards;
} */

@keyframes animate-path{
    0%{
        stroke-dashoffset: 0;
    }

    100%{
        stroke-dashoffset: 1141;
    }
}
@keyframes animate{
    0%
    {top: 0;right: 150px; transform: rotate(5deg);}
    10%{top: -20px;right: 250px; transform: rotate(5deg);}
    20%{top: 0;right: 350px;transform:rotate(-5deg);}
    30%{top: -20px;right: 450px;transform: rotate(5deg);}
    40%{top: 0;right: 550px;transform:rotate(-5deg);}
    50%{top: -20px;right: 650px;transform:rotate(5deg);}
    60%{top: 0;right: 750px;transform:rotate(-5deg);}
    70%{top: -20px;right: 850px;transform: rotate(5deg);}
    80%{top: 0;right: 950px;transform:rotate(-5deg);}
    90%{top: -20px;right: 1050px;transform:rotate(0deg);}
    100%{top: -20px;right: 1150px;transform:rotate(0deg);}
}

.shop{
    position: relative;
    background: #fff;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:15px 90px 0 90px;
    padding-bottom: 80px;
    object-fit: cover;
    margin-top: -55px;
}

.shop .products{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.shop .products .items:hover{
    padding: 10px 15px 10px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.297);
}
.mask{
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 100%;
        height: 111px;
        z-index: 2;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -116px;
        /* mix-blend-mode: screen; */
}
.shop h2{
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 40px;
}
.items img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: #fff 8px solid;
    border-radius: 5px;
}

.shop .products .items{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background: rgb(215, 215, 215);
    /* text-align: left; */
    padding: 20px 15px 20px 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 23%);
    transition: 0.5s;
}

.footer{
    width: 100%;
    height: 350px;
    background: rgb(71,71,71);
    z-index: 2;
    
}

.footer .contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.footer .social li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.footer .social li a{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    height: 30px;
    color: #fff;

}
.footer .social li a ion-icon{
    font-size: 30px;
    /* margin-top: 15px; */
}
.footer .contacts .social #media{
    display: none;
}
.footer .social li a:nth-child(2):hover{
    text-decoration: underline;
}

.footer .trademark{
    width: 100%;
    color: rgb(162, 162, 162);
    text-align: center;
}
@media screen and (max-width:500px){
    header .logo{
        font-size: 20px !important;
    }

    header .search{
        display: none;
    }
    .mob-header{
        height: 40px;
        min-width: 320px;
        background: none;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        z-index: 10;
        margin-left: 10px;
        margin-right: 10px;
        margin: 10px;
        z-index: 9;
    }

    .mob-header input{
        height: 40px;
        min-width: 280px;
        width: 100%;
        margin-right: 5px;
        border-radius: 50px;
        padding-left: 30px;
        background: rgba(255, 255, 255, 0.356);
        border: 1px solid rgba(255, 255, 255, 0.466);
    }
    .mob-header input:focus{
        outline: none;
        /* border: 1px solid rgba(255, 255, 255, 0.466); */
        background-color: rgba(255, 255, 255, 0.731);
        transition: 0.3s;
    }
    .mob-header a{
        background-color: rgba(255, 255, 255, 0.393);
        border: 1px solid rgba(255, 255, 255, 0.466);
        min-width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mob-header a:hover{
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.731);
    }
    .mob-header a ion-icon{
        color: #fff;
        font-size: 25px;
    }
    .blocks.block2 img{
        margin-left: 0 ;
    }
    .card{
        width: 80vw !important;
    }

}
@media screen and (max-width:768px){

    
    header{
        padding: 30px 30px;
        justify-content: right;
    }

    .logo{
        margin-right: auto;
    }
    .slider-bl{
        min-width: 300px;
        width: 95%;
        min-height: 150px;
        height: 55vw;
        z-index: 9;
    }
    .container {
        min-width: 300px;
        margin-left: 8px;
        margin-top: 10px;
    }

    .card{
        width: 90vw;
    }
    .card img {
        width: auto;
        min-height: 120px;
        object-fit: cover;
    }
      
    .content{
        min-width: 300px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 9;
    }

    .background{
        height: 100%;
        top: -132px;
    }

    .background .blob1{
        left: -70%;
        top: 40%;
    }
    .background .blob2{
        left: -8%;
        top: 65%;
    }
    .background .blob3{
        left: -40vw;
        top: 30vh;
    }
    .blocks{
        min-width: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .blocks.block3 img{
        width: 230px; 
        margin-left: 55px;
    }
    .blocks.block4 img{
        width: 230px; 
      
    }

    .search{
        margin-left: 10px;
    }
    .search input{
        width: 150px;
    }

    .search a{
        margin-left: 4px;
    }
    .menuToggle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        margin-left: 20px;
        width: 30px;
        height: 30px;
        /* background: rgb(255, 0, 0); */
        z-index: 11;
        color: #fff;
    }

    .menuToggle.active{
        color: black;
        transition: 1s;
    }

    .menuToggle.active ion-icon:nth-child(1){
        display: none;
    }
    .menuToggle.active ion-icon:nth-child(2){
        display: block;
    }

    .menuToggle ion-icon:nth-child(1){
        display: block;
    }
    .menuToggle ion-icon:nth-child(2){
        display: none;
    }
    .nav{
        /* display: none; */
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
        left: -100%;
        transition: 0.3s;
    }
    .nav.active{
        left: 0;
     }
    .nav a{
        font-size: 1.5em;
        margin-bottom: 20px;
        display: inline-block;
        color: black;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav a:hover{
        outline-color: black;
    }

    .menuToggle ion-icon{
        position: absolute;
        --ionicon-stroke-width:20px;
        display: none;
    }

    .main{
        background: rgb(71, 71, 71);
    }

    .shop .products{
        grid-template-columns: 50% 50%;
        grid-template-rows:50% 50%;
        height: 700px;
    }

    
    .shop{
        height: 100%;
    }

    .shop .products{
        margin-bottom: 50px;
        min-width: 300px;
    }

    .animation #wave{
        min-width: 300px;
    }

    .mask{
        min-width: 300px;
    }
    @keyframes animate{
        0%
        {top: 0;right: -16vw; transform: rotate(5deg);}
        10%{top: -20px;right: -6vw; transform: rotate(5deg);}
        20%{top: 0;right: 4vw;transform:rotate(-5deg);}
        30%{top: -20px;right: 14vw;transform: rotate(5deg);}
        40%{top: 0;right: 24vw;transform:rotate(-5deg);}
        50%{top: -20px;right: 34vw;transform:rotate(5deg);}
        60%{top: 0;right: 44vw;transform:rotate(-5deg);}
        70%{top: -20px;right: 54vw;transform: rotate(5deg);}
        80%{top: 0;right: 64vw;transform:rotate(-5deg);}
        90%{top: -20px;right: 74vw;transform:rotate(0deg);}
        100%{top: -20px;right: 80vw;transform:rotate(0deg);}
    }

    .footer{
        height: 300px;
    }
    .footer .contacts .map{
        display: none;
    }
    .footer .contacts .social #media{
        display: inherit;
        display: flex;
        align-items: center; 
    }
    .footer .trademark{
        margin-top: 15px;
        font-size: 15px;
    }
}

@media screen and (max-width:1040px){
    header{
        padding: 30px 30px;
    }

    header .logo{
        font-size: 20px;
    }

    header .search input{
        width: 180px;
    }

    .search a{
        margin-left: 5px;
    }

    header .nav a{
        font-size: 15px;
        margin-right: 0;
    }
    header .nav a:hover{
        outline: none;
        text-decoration: underline 2px;

    }
    
}