@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    position: relative;
}

.main{
    width: 600px;
    height: 800px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 30px;
    padding-top: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
}

.steps{
    z-index: 1;
    height: 130px;
    margin: 5px;
    /* background: red; */
    /* border: 1px black solid; */
    display: flex;
    align-items:center;
    position: relative;
    overflow: hidden;
    margin-bottom: 18px;
}

.steps .class-ion-icon{
    height: 70px;
    width: 70px;
    --ionicon-stroke-width: 15px;
    transition: 0.5s;
}
.steps .class-ion-icon.active{
    transform: rotateZ(15deg);
}
/* colors */
.step1{
    color: #ddad82;
}
.step2{
    color: #e78572;
}
.step3{
    color: #ad103a;
}
.step4{
    color: #4a324d;
}
.step5{
    color: #311c31;
}

.step1 .bookmark {
    background: #ddad82;
    border-left: #ddad82;
}
.step2 .bookmark {
    background-color: #e78572;
    border-left: #e78572;
}
.step3 .bookmark {
    background-color: #ad103a;
    border-left: #ad103a;
}
.step4 .bookmark {
    background-color: #4a324d;
    border-left: #4a324d;
}
.step5 .bookmark {
    background-color: #311c31;
    border-left: #311c31;
}

.step1 .ending{
    background: #ddad82;
}
.step2 .ending{
    background: #e78572;
}
.step3 .ending{
    background: #ad103a;
}
.step4 .ending{
    background: #4a324d;
}
.step5 .ending{
    background: #311c31;
}
.icon{
    width: 175px;
    background: white;
    height: 130px;
    display: flex;
    align-items: center;
}
.bookmark{
    height: 100px; 
    width: 100px; 
    /* margin: 35px 20px 0 0; */
    background: #B1BA5C;
    /* position: relative; */
    margin-left: 5px;
}

.bookmark:before{
    content: "";
    height: 0; 
    width: 0;
    position: absolute; 
    /* left: 0;  */
    right: -25px;
    top: 0px;
    border-left: 25px solid;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    
}

.number{
    font-family: 'Oswald', sans-serif;
    height: 85px;
    width: 50px;
    font-size: 52px;
    background: none;
    color: white;
    /* padding-top: 10px; */
    padding-left: 50px;
    top: 10px;

}

.overBookmark{
    position: absolute;
    width: 30px;
    height: 130px;
    left: 88px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-right: #949494 1px solid;
    border-left: #949494 1px solid;
    z-index: 10;
}
.textarea{
    background: none;
    width: 310px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    left: -135px;
    z-index: -1;
    transition: 0.7s;
}

.textarea.active{
    left: 175px;
    
}
.shadow{
    z-index: 10;
    margin-left: 50px;
    height: 100px; 
    width: 260px; 
    /* margin: 35px 20px 0 0; */
    background:  linear-gradient(180deg, rgb(171 171 171) 0%, rgb(255, 255, 255) 5%);
    position: relative;
    padding-top: 10px;
    /* margin-left: 5px; */
    /* box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.22);*/
} 

.shadow:before{
    z-index: 11;
    content: "";
    height: 113px;
    width: 84px;
    position: absolute;
    left: -30px;
    top: 13px;
    /* background: black; */
    /* box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.22); */
    background:linear-gradient(90deg, rgb(178 178 178) 0%, rgb(255, 255, 255) 7%);
    transform: rotate(26deg);
}

.shadow h2{
    font-size: 20px;
    text-transform: uppercase;
    z-index: 12;
    background:none;
    /* margin-top: 10px; */
    margin-left: 5px;
}

.shadow p{
    font-size: 12px;
    z-index: 12;
    background: none;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
}

.ending{
    width: 5px;
    height: 0px;
    background: #B1BA5C;
    position: absolute;
    right: 0;
    transition: 0.5s;
}

.ending.active{
    height: 100px;
}

